smbus~=1.1.post2
gpio
python-telegram-bot>=13.9
# Make sure to install those as additional_dependencies in the
# pre-commit hooks for pylint & mypy
certifi
# only telegram.ext: # Keep this line here; used in setup(-raw).py
tornado>=6.1
APScheduler==3.8.1
pytz>=2018.6
cachetools
imageio
numpy
Pillow
requests
pyaudio
Mock.GPIO
PySoundFile
google-cloud-speech
